<body>
  <div class="container" >
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="row g-3">
    <div class="mb-3 col-12">
      <label for="Name" class="form-label">Name</label>
      <input formControlName="name" type="text" class="form-control">
      <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-text">
        Name is required.
      </span>
    </div>
    <div class="mb-3 col-12">
      <label for="Description" class="form-label">Description</label>
      <input formControlName="description" class="form-control">
      <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="error-text">
        Description is required.
      </div>
    </div>
    <div class="mb-3 col-12">
      <label for="Price" class="form-label">Price</label>
      <input formControlName="price" type="number" min="0" class="form-control">
      <div *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="error-text">
        Price is required and must be a positive number.
      </div>
    </div>
    <div class="col-12">
    <button type="submit" [disabled]="form.invalid"  class="btn btn-primary">Save</button>
  </div>
  </form>
</div>
</body>



