.main {
  margin-top: 7rem;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-content: center;
}
.card_d {
  width: 40%;
  padding: 2rem;
}
.avtar_d {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.example {
  display: flex;
  justify-content: center;
}
.k-form {
  width: 100%;
}
